main {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    font-size: 18px;
}

#left-panel{
    background-image: url(./felix-dubois-robert-CuEvrPd3NYc-unsplash.jpg);
    background-size: cover;
    width: 40vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 530px;
}

#right-panel{    
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(240, 240, 240);
}

#banner-panel{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#banner-panel p{
    color: white;
    font-size: 30px;
    z-index: 100;
}

#logo {
    background-image: url(./odin-lined.png);
    height: 150px;
    aspect-ratio: 380/508;
    background-size: cover;
}
a{
    z-index: 100;
    color: rgb(0, 187, 224);
}

#top-stretch{
    flex-grow: 1;
}

#bottom-stretch{
    flex-grow: 3;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}


#bottom-stretch a{
    background-color: black;
    opacity: 50%;
    color: white !important;
}

header {
    padding: 20px;
}

#form-panel {
    padding: 20px;
    background-color: white;
    box-shadow: 0 5px 5px rgb(0, 0, 0, 0.123);
    font-weight: 5;
    color: grey;
}

#form-panel p{
    margin-bottom: 25px;
    font-size: 25px;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

button{
    appearance: none;
    padding: 10px;
    width: 200px;
    border: 0px;
    color: white;
    background-color: rgb(0, 187, 224);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

label {
    width: 48%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-size: 16px;    
    margin-bottom: 10px;
}

input{
    width: 90%;
    margin-top: 5px;
    height: 25px;
    font-size: 16px;
    border: none;
}

span.error {
    width: 90%;
    font-size: 14px;
}

#login-create-account{
    margin: 20px;
}

#login-create-account p{
    margin-top: 20px;
    color: grey;
}

em{
    font-style: italic;
}

#background{
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 50%;
}  

input:focus {
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
    outline: none;
    }

input:invalid:focus {
    border: 2px solid rgb(255, 69, 100);
}

input:valid:focus {
    border: 2px solid rgb(69, 233, 255);
}


@media only screen and (max-width: 700px) {
    main{
        flex-direction: column;
    }

    #left-panel {
        width: 100%;
        height: 400px;
    }

    #right-panel {
        width: 100%;
        height: auto;
    }

    p {
        text-align: justify;
    }

    label {
        appearance: none;
        width: 48%;
        margin-left: 0 0 0;
    }

    input{
        width: 98%;
    }

    button {
        width: 100%;
    }

    #form-panel p{
        height: 50px;
    }

    header p{
        text-align: justify;
    }

}